@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
body {    
    margin:0px;
    font-family: 'Open Sans', sans-serif;
}
.background {
    background:radial-gradient(ellipse at center, #D1C7B1 0%, #BCAD8D 40%, #C1AF7D 100%);
    color: white;
    min-height:300px;
    width:100%;
    clear:both;
    text-align: center;
    padding-bottom: 25px;
}
.alternativeBackground {
    background:radial-gradient(ellipse at bottom, #E3EEEA 0%, #D9E0DD 100%);
    color: #686666;
}
.background:first-child {
    min-height: 700px!important;
}
.background:first-child h1 {
    padding-top: 150px;
}
.background:last-child {
    min-height: 0;
    padding: 25px 0 25px 0;
}

h1, h2, h3 {
    text-align: center;
    margin:auto;
}
h1 {
    padding-top: 75px;
    padding-bottom: 75px;
}

.chips {
    max-width: 500px;
}
#reviews button {
    margin-top:5px;
    width:calc(50% - 2px);
}

.cursor, a {
    cursor: pointer;
}

.products {
    width: 100%;
}

.noButtonLooks, .noButtonLooks:focus {
    background: none;
    border: none;
    padding: 0;
    outline: 0;
}